/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Google Fonts Import Link */



.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #FFFAF0;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 1;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}


.home-section nav .profile-details {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  background: #550A35;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 60px;
  min-width: 260px;
 color: #fff;
 font-weight: 500;
}

.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  padding: 0 20px;
  margin-bottom: 26px;
}
/* total record in div */
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #FFFAF0;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: transform 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.3s ease;
  margin-right: 10px;
}
.overview-boxes .box:hover{
  background-color: #550A35;
  color: white;
  transform: scale(1.05); /* Scale the element slightly */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
/*  */
.overview-boxes .school-timing-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  color: #fff;
  background:#550A35 ;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: transform 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.3s ease;
  margin-right: 10px;
}
.overview-boxes .school-timing-box:hover{
  
 
  transform: scale(1.05); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.overview-boxes .box-topic i{
  font-size: 25px;
  margin-left: 10px;
  
}

.dashboard-section{
  text-align: center;
  transition: transform 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.3s ease;
  
}



.home-content .record-table{
  display: flex;
  justify-content: space-between;
  
}


/* left box */
.home-content .record-table .table{
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.record-table .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.record-table .box .button{
  width: 95.1%;
  display: flex;
  justify-content: flex-end;
}
.record-table .box .button button{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;

  border-radius: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
  
}
.record-table .box .button button:hover{
  background:  #550A35;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}


